* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #48C5CE;
    text-align: center;
    color: white;
    padding: 10px;
}

.title {
    font-size: 26px;
}

section {
    padding: 20px;
    background-image: url(../images/images/people.jpg);
    background-size: cover;
    overflow: hidden;
}

.formContainer {
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}

h2 {
    font-size: 16px;
}

.mb {
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    color: white;
    background-color: #48C5CE;
    font-weight: bold;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../images/images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}
footer{
     background-color: #202121;
     padding: 40px;
     text-align: center  ;

}
.picture{
    width: 300px;
}
.description{
    display: inline-block;
    text-align: left;
    color: white;
    max-width: 40%;
    margin-left: 40px;
}
.description p, .description h3{
    margin-bottom: 20px;
}
.description h3{
    font-size: 24px;
}

@media screen and (max-width: 400px) {

.formContainer{
    float: none;
    margin-left: 50px;
    margin-right: 50px;
}

}

/* Mantenha as regras iniciais */

/* ... */

@media screen and (max-width: 768px) {
    /* Aplique as mudanças para telas menores, como tablets e celulares */
  
    .formContainer {
      float: none;
      max-width: 100%; /* Utilize a largura total disponível */
      margin: 0 auto; /* Centralize o elemento */
      padding: 20px;
    }
  
    h2 {
      font-size: 14px; /* Reduza o tamanho da fonte para telas menores */
    }
  
    .description {
      display: block;
      text-align: left;
      color: white;
      max-width: 100%; /* Use a largura total disponível */
      margin: 20px auto; /* Centralize o elemento e adicione margens */
    }
  
    .description h3 {
      font-size: 18px; /* Reduza o tamanho da fonte para telas menores */
    }
  }
  